@media only screen and (min-width: 1280px){

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  /* max-width: 1400px; */
}

/* Dashboard */
.dashboard{
  display: flex;
}

/* Navigation */
.dashboard .navigation{
  display: block;
  padding-bottom: 0px;
  height: 125vh;
  box-shadow: 1px 3px 2px rgba(0 0 0/ 0.4)
}

/* Logo */
.dashboard .navigation div img.logo{
  margin-left: 5px;
  margin-top: 10px;
  height: 30px;
  width: 90%;
}
 /* Tab */
.dashboard .navigation .tab{
  margin-top: 40px;
}

.dashboard .navigation .tab .unit{
  height: 50px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  position: relative;
}

.dashboard .navigation .tab .unit img{
  height: 30px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.dashboard .navigation .tab .unit .Overview img{
  margin-top: -1px;
  position: absolute;
}

.dashboard .navigation .tab .unit .Overview p{
  margin-top: 15px;
  position: absolute;
}

.dashboard .navigation .tab .unit .category{
  height: 50px;
  width: 13px;
  border-radius: 0px 5px 5px 0px;
  background-color: #A25075;
  margin-top: 3px;
}


.dashboard .navigation .tab .unit p{
  position: absolute;
  font-size: 15px;
  top: 3px;
  left: 55px;
}
/* Tab ends*/

/* Gift */
.dashboard .navigation .gift{
  height: 200px;
  width: 185px;
  top: 300px;
  bottom: 10px;
  margin-left: 10px;
  border-radius: 10px;
  margin: 10px 10px;
  box-shadow: 1px 1px 3px 4px rgba(0 0 0 / 0.15);
  position: relative;
}

.dashboard .navigation .gift .box{
  width: 150px;
  height: auto;
  bottom: 110px;
  left: 25px;
  position: absolute;
}

.dashboard .navigation .gift p{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  top: 80px;
  left: 30px;
  right: 30px;
  position: absolute;
}

.dashboard .navigation .gift button{
  height: 30px;
  width: 120px;
  left: 37px;
  bottom: 5px;
  background-color: #00838F;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  position: absolute;
}
/* == Gift end ==*/

/* Tab end */


/* Main */
.main{
  width: 82%;
}

/* Search */
.dashboard .main .search{
  height: 70px;
  width: 1303px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 1px 3px 2px rgba(0 0 0/ 0.15);
}

.dashboard .main .search h1{
  top: 2px;
  left: 30px;
}

.dashboard .main .search form{
  margin: 15px 0px 0px 0px;
  position: relative;
}

.dashboard .main .search form input{
  height: 40px;
  width: 17em;
  margin-left: 30px;
  font-size: 15px;
  border: 1px solid #dadada;
  border-radius: 20px;
  position: absolute;
}

.dashboard .main .search form img{
  position: absolute;
  margin-left: 250px;
  top: 10px;
}

.dashboard .main .search .notification{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dashboard .main .search .notification img:nth-child(1){
  right: 70px;
  height: 30px;
  position: absolute;
}

.dashboard .main .search .notification img:nth-child(2){
  right: 0px;
  height: 30px;
  position: absolute;
}
/* Search end */


/* Chart */
.dashboard .main .chart{
  margin-top: 20px;
  position: relative;
  left: 30px;
}

/*== First chart ==*/
.dashboard .main .first_chart{
  width: 350px;
  height: 170px;
  border-radius: 10px;
  position: absolute;
  box-shadow: 1px 1px 3px 4px rgba(0 0 0 / 0.15);
}

.dashboard .main .first_chart .chartBox{
  width: 170px;
  left: 230px;
  position: absolute;
  margin-top: 5px;
  margin-left: -220px;
  height: 170px;
}

.dashboard .main .first_chart h1{
  position: absolute;
  margin: 10px 0px 0px 250px;
}

.dashboard .main .first_chart p{
  position: absolute;
  margin: 40px 0px 0px 250px;
}

.dashboard .main .first_chart h2{
  position: absolute;
  margin: 70px 0px 0px 75px;
}
/* First chart ends*/

/* == Second chart == */
.dashboard .main div.second_chart{
  width: 370px;
  height: 170px;
  position: absolute;
  margin-left: 380px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 4px rgba(0 0 0 / 0.15);
}

.dashboard .main .chart .second_chart .chartBox{
  height: 170px;
  width: 170px;
  left: 300px;
  position: absolute;
  margin-top: 5px;
  margin-left: -290px;
}

.dashboard .main .second_chart h1{
  position: absolute;
  margin: 10px 0px 0px 250px;
}

.dashboard .main .second_chart p{
  position: absolute;
  margin: 40px 0px 0px 250px;
}

.dashboard .main .second_chart h2{
  position: absolute;
  margin: 70px 0px 0px 75px;
}

/* Second chart ends */

/* Third chart */
.dashboard .main div.third_chart{
  width: 370px;
  height: 170px;
  margin-left: 780px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 4px rgba(0 0 0 / 0.15);
}

.dashboard .main .chart .third_chart .chartBox{
  width: 170px;
  left: 300px;
  position: absolute;
  margin: 5px 0px 0px -290px;
  height: 170px;
}

.dashboard .main div.third_chart h1{
  position: absolute;
  margin: 10px 0px 0px 270px;
}

.dashboard .main div.third_chart p{
  position: absolute;
  margin: 40px 0px 0px 270px;
}

.dashboard .main .third_chart h2{
  position: absolute;
  margin: 70px 0px 0px 75px;
}
/* Third chart ends */

/* Table */
table{
  margin-top: 240px;
  position: relative;
  left: 30px;
}

/* Table head */
.dashboard .main table thead{
  background-color: black;
  width: 1200px;
  height: 40px;
  color: white;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 15px 0px rgba(0 0 0/ 0.15);
  position: absolute;
}

.dashboard .main table thead tr th{
  font-size: 20px;
  padding-top: 5px;
}

.dashboard .main table thead tr th.number{
  left: 0px;
  position: absolute;
}

.dashboard .main table thead tr th.course_name{
  left: 200px;
  position: absolute;
}

.dashboard .main table thead tr th.department{
  left: 550px;
  position: absolute;
}

.dashboard .main table thead tr th.units{
  right: 300px;
  position: absolute;
}

.dashboard .main table thead tr th.gpa{
  right: 30px;
  position: absolute;
}
/* Table head end */

/* Table body */
.dashboard .main table tbody{
  height: 260px;
  width: 1200px;
  position: absolute;
  margin-top: 40px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px 1px 3px 4px rgba(0 0 0 / 0.15);
}

td{
  padding: 5px;
}

tr td.number{
  left: 50px;
  /* position: absolute; */
}

tr td.course_name{
  left: 200px;
  position: absolute;
}

tr td.department{
  left: 550px;
  position: absolute;
}

tr td.units{
   right: 320px;
   position: absolute;
}

tr td.gpa{
  right: 30px;
  position: absolute;
}

/* Table body end */

/* Last */
.dashboard .main .last{
  margin: 350px 0px 0px 0px;
  height: 230px;
  width: 1200px;
  background-color: black;
  border-radius: 10px;
  color: white;
  position: relative;
  left: 30px;
}

.dashboard .main .last .words{
  margin-left: 70px;
  position: absolute;
  width: 700px;
}

.dashboard .main .last img{
  height: 270px;
  bottom: 0px;
  right: 20px;
  position: absolute;
}

.dashboard .main .last .words h1{
  font-size: 40px;
  top: -20px;
  position: absolute;
}

.dashboard .main .last .words p{
  margin-right: 300px;
  position: absolute;
  top: 70px;
}

.dashboard .main .last .words button{
  height: 40px;
  width: 130px;
  border-radius: 30px;
  background-color: white;
  color: #A25075;
  position: absolute;
  top: 170px;
  font-weight: bold;
}
/* Last end */

/* Main end */
}
